*.log
*.tmp
*.old
*.bak
*.jar
*.json

javadoc/
builds/
workspace/
lastStable
lastSuccessful
nextBuildNumber
modules/
*.log
secrets/
updates/
plugins/

secret.key
secret.key.not-so-secret
identity.key.enc

.bashrc
hudson.model.UpdateCenter.xml
hudson.plugins.git.GitTool.xml


.m2/
.owner
.ssh/
.java/
.fortify/


nodeMonitors.xml


